*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0px;
  background-color: rgba(83, 78, 68, 0.068);
}

.header p {
  color: white;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.966);
  font-size: 30px;
  text-shadow: 0px 0px 10px rgba(55, 0, 255, 0.281);
}

.header p::after {
  content: "🖥️";
}

h1 {
  color: white;
  font-size: 40px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.966);
  text-shadow: 0px 0px 10px rgba(55, 0, 255, 0.281);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

article h2 {
  position: relative;
  right: 20px;
}

.main {
  padding: 30px 60px;
  max-width: fit-content;
  margin: auto;
}

main > * + * {
  margin-top: 48px;
}

main > article + article {
  border-top: 2px solid black;
}

.header {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 0, 0) 0%,
    rgb(64, 64, 64) 90.2%
  );
  padding: 30px 60px;
  border-radius: 0px 0px 2px 2px;
  position: relative;
  right: 20px;
}

.hire-me {
  position: absolute;
  right: 30px;
  top: 30px;
  padding: 6px;
  background-color: white;
  border-radius: 5px 0px 5px 0px;
}

nav {
  margin-top: 45px;
  padding: 0px 15px 5px 10px;
  display: inline-block;
  border-radius: 10px 0px 10px 0px;
  width: 100%;
  text-align: center;
}

nav a {
  margin-left: 10px;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.699);
}

nav a:link {
  color: rgb(255, 255, 255);
}

nav a:hover {
  color: rgb(0, 0, 0);
}

nav a:active {
  color: rgb(255, 255, 255);
}

nav a:visited {
  color: rgb(165, 164, 164);
}

/*
.container-skills {
  position:relative;
  left: 10%
}

#soft-skills {
  position: relative;
  left: 10%;
  top: 0px;
  display: inline-block;
}

#technical-skills {
  position: relative;
  top: 0px;
  left: 30%;
  display: inline-block;
}

*/

footer {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(102, 101, 101) 0%,
    rgb(0, 0, 0) 90.2%
  );
  padding: 8px 13px;
  border-radius: 0px 0px 2px 2px;
  position: fixed;
  width: 100%;
  bottom: 0px;
}
